params {

    genome     = "$baseDir/data/genome.fa"
    variants   = "$baseDir/data/known_variants.vcf.gz"
    blacklist  = "$baseDir/data/blacklist.bed"
    reads      = "$baseDir/data/reads/rep*_{1,2}.fq.gz"
    results    = "results"
    gatk       = '/usr/local/bin/GenomeAnalysisTK.jar'
    gatk_launch = "java -jar $params.gatk"

}